<h1>Body Mass Index Calculator</h1>
<h3>Enter your data:</h3>

<div>
    <form method="GET" action="/calculate">
        <label for="weight">weight (meters)</label>
        <input id="weight" type="number" step="0.01" name="weight">
        <br>
        <br>
        <label for="height">height (kilograms)</label>
        <input id="height" type="number" step="0.01" name="height">
        <br>
        <br>
        <button type="submit">Calculate</button>
    </form>
</div>