<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>

    <!--just use my own stylesheet-->
    <link href="stylesheets/styles.css" type="text/css" rel="stylesheet">

</head>
<body>

{{{ body }}}

</body>
</html>