<h1>Body Mass Index Calculator</h1>

<h3>Result</h3>
<p>your body mass index is {{ bmi_final }}</p> <!--data from index.js-->

<!--back to index-->
<form action="/">
    <button type="submit"><< back</button>
</form>