/* (purple-dreams) #6c5ce7, #4430e3, #fd488b, #4430e3, #fdcb6e, #e17055 */

body {
    background-color: red;
    font-family: "Comic Sans MS";
    padding: 20px;
}

h1 {
    font-family: "Times New Roman";
    color: green;
    text-align: center;
    font-size: 70px;
    padding: 20px;
}

h2 {
    background-color: blue;
    text-align: center;
    font-size: 50px;
}

p {
    color: pink;
}

a {
    background-color: yellow;
    text-decoration: none;
}

ul {
    background-color: brown;
}
li {
    color: salmon;
}

#fav-movie-header {
    border: 3px dotted darkcyan;
}
#fav-music-header {
    border: 3px black solid;
}
#fav-food-header {
    border: 3px lightcoral dashed;
}

.fav-section {
    background-color: grey;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

#page-header {
    background-color: white;
    border: 10px double black;
    font-size: 50px;
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
}

#fav-characters-header {
    border: 3px green solid;

}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 50%;
}

th {
    border: 3px solid black;
    background-color: darkgrey;
    text-align: center;
}

td {
    text-align: right;
}

tr:nth-child(even) {
    background-color: yellow;
}

tr:nth-child(odd) {
    background-color: indianred;
}
