<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">
        
        <div id="new-student-form-errors" class="m-2">
            <!-- display boostrap error msg if list of errors is more than 0 -->
            <div class="alert alert-danger" v-if="formErrors.length > 0">
                <li v-for="error in formErrors" v-bind:key="error">
                    {{ error }}
                </li>
            </div>
        </div>


        <div id="new-student-form" class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group mb-3">
                <label for="name">Name</label>
                <!-- v-model creates two-way data binding; automatically syncs input element's value w data property, &v/v -->
                <!-- trim for whitespace -->
                <input id="name" class="form-control" v-model.trim="newStudentName">
            </div>

            <div class="form-group mb-3">
                <label for="starID">Star ID</label>
                <input id="starID" class="form-control" v-model.trim="newStarID">
            </div>

            <!-- vue event handler -->
            <button class="btn btn-primary" v-on:click="addStudent">Add</button>
        </div>

        <div id="student-list-table" class="card m-2 p-2">
            <h4 class="card-title">Student List</h4>

            <!-- check plural -->
            <h5 v-if="studentCount == 1">1 student</h5>
            <h5 v-else>{{ studentCount }} students</h5>

            <div id="student-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>StarID</th>
                            <th>Present?</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- iterate over list and display info for each -->
                        <tr v-for="student in sortedStudents" v-bind:key="student.starID" v-bind:class="{ present: student.present, absent: !student.present }"> 
                            <td>{{ student.name }}</td>
                            <td>{{ student.starID }}</td>
                            <td>
                                <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)">
                                <span class="mx-3" v-if="student.present">Present</span>
                                <span class="mx-3" v-else>Absent</span>

                            </td>
                            <td>
                                <button class="btn btn-danger" v-on:click="deleteStudent(student)">
                                    <i class="bi bi-trash-fill">
                                        Delete
                                    </button>
                            </td>
                        </tr>
                    </tbody>
                   </tbody>

                </table>
            </div>
        </div>

        <div id="welcome-or-goodbye-message" class="m-2">
            <div v-if="mostRecentStudent.name">
                <div v-if="mostRecentStudent.present" class="alert alert-success">
                    Welcome, {{ mostRecentStudent.name }}
                </div>
                <div v-else class="alert alert-info">
                    Goodbye, {{ mostRecentStudent.name }}
                </div>
            </div>
            
        </div>

    </div>

    <script>
        // import Vue components
        const { createApp, ref, computed} = Vue

        createApp({
            setup() {
                // reactive var
                const newStudentName = ref('')
                const newStarID = ref('')
                const formErrors = ref([])
                const mostRecentStudent = ref('')

                // starting values
                const studentList = ref([
                    { name: "A, Student", starID: "aaa123", present: false},
                    { name: "B, Student", starID: "bbb456", present: false}
                ])

                // add students at button click event
                const addStudent = () => {
                    formErrors.value = []
            
                    // if studentName input does not exist
                    if (!newStudentName.value) {
                        formErrors.value.push('Student name is empty')
                    }

                    // if starID input does not exist
                    if (!newStarID.value) {
                        formErrors.value.push('StarID is empty')
                    }

                    // if there are no errors
                    if (formErrors.value.length == 0) {
                        let student = {
                            // get values from input
                            name: newStudentName.value,
                            starID: newStarID.value, 
                            // default present value is false
                            present: false 
                        }
                        // append new student to studentList
                        studentList.value.push(student)
                        
                        // clear var
                        newStudentName.value = ''
                        newStarID.value = ''
                    }
                }
                
                // check if student just became present or absent
                const arrivedOrLeft = (student) => {
                    mostRecentStudent.value = student
                }

                // deleting student
                const deleteStudent = (studentToDelete) => {
                    if (confirm(`Delete ${studentToDelete.name}?`)) {
                        studentList.value = studentList.value.filter( (student) => {
                            return studentToDelete != student
                        })
                    }
                }
                
                // computed properties are for derived values that depend on other reactive data
                // sort student list alphabetically
                const sortedStudents = computed( () => {
                    return studentList.value.toSorted ( (student1, student2) => {
                        return student1.name.localeCompare(student2.name)
                    })
                })

                const studentCount = computed( () => {
                    return studentList.value.length
                })

                return {
                    // return reactive data
                    studentList,
                    newStudentName,
                    newStarID,
                    formErrors,
                    mostRecentStudent,

                    // return functions
                    addStudent,
                    arrivedOrLeft,
                    deleteStudent,

                    // computed properties
                    sortedStudents,
                    studentCount
                }
            }
        }).mount('#app')
    </script>

</body>

</html>
