<h1>Thank you</h1>

<h2>Thank you for your feedback. To confirm, this is the data you sent,</h2>

<h3>Name: {{ name }}</h3>
<h3>email: {{ email }}</h3>
<h3>Message: {{ message }}</h3>
<h3>Curret student: {{ currentStudent }}</h3>