<h1>Body Mass Index calculator</h1>

<div>
    <form method="POST" action="/submit-data">
        <label class="form-label" for="weight">weight</label>
        <input class="form-control" id="weight" weight="weight">
        <br>
        <label class="form-label" for="height">height</label>
        <input class="form-control" id="height" weight="height">

        <input class="btn btn-primary" type="submit">
    </form>
</div>